.nav {
    grid-area: n;
    background-color: #336B87;
    padding:20px;
}

.item {
    color: #2A3132;  
}
   
    .item a {
        color: white;
        text-decoration:none;
    }

    .item a.activeLink {
        color: #763626;
    }

.friends{
    color: white;
    font-size: 25px;
    margin-top: 40px;
}
